p{
    font-family: 'Suez One', serif;
    font-size: 18px;
    text-align: center;
}

.table-tiles{
    width: 160px;
    height: 90px;
    background-color: lightblue;
    margin: 5px;
    margin-right: 0px;
}

.table-tiles span{
    font-size: 28px;
}

.table-tiles p{
    padding-top: 10px;
}

.table-tiles:hover{
    cursor: pointer;
    transition-duration: 0.3s;
}

.table-line{
    float: left;
}

.table-mask{
    position: absolute;
    background-color: lightblue;
    width: 90px;
    height: 90px;
    opacity: 0;
    margin-left: 5px;
}

.table-mask:hover{
    opacity: 1;
    cursor: pointer;
    transition-duration: 0.3s;
}

.table-mask p{
    font-size: 20px;
}

.lessons{
    width: 90px;
}

.table-mask-lessons{
    position: absolute;
    background-color: darkblue;
    color: white;
    width: 160px;
    height: 90px;
    opacity: 0;
}

.table-mask-lessons button{
    background-color: blue;
    font-family: 'Suez One', serif;
    border: 0;
    margin-left: 20px;
}

.table-mask-lessons:hover{
    opacity: 1;
    cursor: pointer;
    transition-duration: 0.3s;
}